# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

*.log
*.tlog
*.pdb
*.vcxproj
*.idb
*.filters
*.user

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Dot file
*.dot

# Picture file
*.png

# These two directory do not upload
data
model
bin
